@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --font-family-primary:
        "Space Grotesk",
        "Segoe UI",
        system-ui,
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

body,
button,
input,
select,
textarea,
.button,
.deletelink-box a,
.submit-row a,
.submit-row input {
    font-family: 'Space Grotesk', sans-serif !important;
}

code,
pre {
    font-family: 'Space Grotesk', sans-serif !important;
}
